body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1D1E20;
    text-align: center;
}
h1{
    color: #ffffff;
}
h2{
    color: #ffffff;
}
p{
    color: #ffffff;
}
p1{
    color: #ffffff;
}
a{
    color: #54d9e2;
}



.topNavigation{
    height: 70px;
    text-align: center;
    background-color: #777777;
    color: #fff;
}
.content{
    flex: 1;
    background-color: #777777;
    text-align: center;
    margin-top: 10px;
}